.judul{
    text-align: center;
}
input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #688cb7;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background-color: #232424
    padding: 12px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #06fb85;
}
.container{
    border-radius: 5px;
    background-color: #87b7fff4;
    padding: 20px;
}